<div class="container mw-md">
  <%= form_for @reservation do |f|%>

    <div class="form-group">
      <label class="control-label">乗馬メニュー</label>
      <%= f.collection_select :menu_id, @menus, :id, :title,{prompt: "選択してください"}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.submit '登録する', class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  <% end %>
</div>
