<%= render 'layouts/flash_messages' %>

<div class="container">
  <div class="jumbotron p-3 mb-2 bg-light text-success">
    <div class="col-md-12 px-0">
      <h1 class="display-4 font-italic">蓼科乗馬ファームのホームページへようこそ。</h1>
      <p class="lead my-3">今まで乗馬してみたいと思いながらチャンスがなかった方、今現在乗ってはいるのだけれどしっくりこない方、馬のことを知りたい方へサポートできる施設を目指しています。当ファームでは競技思考の乗馬ではなく、実用的な移動手段としての乗馬を広めたく日々取り組んでいます。移動手段としての乗馬は馬場だけで乗るのとは違います。思い通りの速度と方向がコントロール出来ればよいのです。そして馬も人間も快適に動ければよいのです。馬場と違い移動する先々で周りの環境が変化します。新緑や紅葉、自然の中を行く気分爽快の外乗は乗馬の醍醐味の一つではないでしょうか。初めて乗る方も、乗ったことがある方も、また乗り続けている方も楽しく乗っていただけます。乗馬スタイルを超えたどのスタイルにも共通な部分があります。その部分で乗ることが出来れば誰もが楽しい乗馬が可能になります。そして、馬の生態を含めたいろいろなことを理解することが乗馬の楽しさにつながると思います。このサイトから今までにない乗馬や馬の情報を紹介出来ればと思います。</p>
      <p class="lead mb-0"><a href="#" class="text-dark font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <% @news.each do |new| %>
        <div class="blog-post">
          <h2 class="blog-post-title"><%= link_to new.title, news_path(new) %></h2>
          <p class="blog-post-meta"><%= new.updated_at.strftime('%Y年%m月%d日') %></p>
          <p><%= simple_format(new.content) %></p>
        </div><!-- /.blog-post -->
      <% end %>

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>
    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">今まで乗馬してみたいと思いながらチャンスがなかった方、今現在乗ってはいるのだけれどしっくりこない方、馬のことを知りたい方へサポートできる施設を目指しています。当ファームでは競技思考の乗馬ではなく、実用的な移動手段としての乗馬を広めたく日々取り組んでいます。移動手段としての乗馬は馬場だけで乗るのとは違います。思い通りの速度と方向がコントロール出来ればよいのです。そして馬も人間も快適に動ければよいのです。馬場と違い移動する先々で周りの環境が変化します。新緑や紅葉、自然の中を行く気分爽快の外乗は乗馬の醍醐味の一つではないでしょうか。初めて乗る方も、乗ったことがある方も、また乗り続けている方も楽しく乗っていただけます。乗馬スタイルを超えたどのスタイルにも共通な部分があります。その部分で乗ることが出来れば誰もが楽しい乗馬が可能になります。そして、馬の生態を含めたいろいろなことを理解することが乗馬の楽しさにつながると思います。このサイトから今までにない乗馬や馬の情報を紹介出来ればと思います。</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</main><!-- /.container -->

<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
